<div>
    <nav class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="kologo is-size-3" routerLink="/">
                Jihan.Ko
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-behavior">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navbar-behavior">
            <div class="navbar-end">
                <a class="navbar-item" routerLink="/about">About</a>
                <a class="navbar-item" routerLink="/experience">Experience</a>
                <a class="navbar-item" routerLink="/project">Project</a>
                <a class="navbar-item" routerLink="/contact">Contact</a>
            </div>
        </div>
    </nav>
</div>